﻿/*Aleksey Nemiro, FoxTools.ru, 2013*/
	ul.charTable
	{
		clear: both;
		display: block;
		list-style: none;
	}
	ul.charTable li  
	{
	  cursor:pointer;
	  float: left;
		display: inline-block;
		width: 40px;
		height: 45px;
		line-height: 45px;
		margin: 6px;
		font-size: 14px;
		text-align: center;
		overflow: hidden;
		text-shadow: #fff 1px 1px 0;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		box-shadow: 0 0 2px rgba(0,0,0,0.4);
		-moz-box-shadow: 0 0 2px rgba(0,0,0,0.4);
		overflow: hidden;
		font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
		font-weight:bold;
		/*background-color: #e9e9e9;*/
		background: rgb(255,255,255); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(219,219,219,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
	}
	ul.charTable > li.head {
		text-transform:uppercase;
		font-weight:bold; 
		color:White;
		text-shadow:none;
		cursor:default;
		/*background-color:#999999;*/
		background: rgb(165,165,165); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(165,165,165,1) 0%, rgba(79,79,79,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(165,165,165,1)), color-stop(100%,rgba(79,79,79,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(165,165,165,1) 0%,rgba(79,79,79,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(165,165,165,1) 0%,rgba(79,79,79,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(165,165,165,1) 0%,rgba(79,79,79,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(165,165,165,1) 0%,rgba(79,79,79,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5a5a5', endColorstr='#4f4f4f',GradientType=0 ); /* IE6-9 */
	}
	ul.charTable > li.sys
	{
		background: rgb(255,209,209); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(255,209,209,1) 0%, rgba(239,129,129,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,209,209,1)), color-stop(100%,rgba(239,129,129,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,209,209,1) 0%,rgba(239,129,129,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,209,209,1) 0%,rgba(239,129,129,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,209,209,1) 0%,rgba(239,129,129,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,209,209,1) 0%,rgba(239,129,129,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd1d1', endColorstr='#ef8181',GradientType=0 ); /* IE6-9 */
	}
	ul.charTable > li.eng
	{
		background: rgb(214,243,255);
		background: -moz-linear-gradient(top,  rgba(214,243,255,1) 0%, rgba(186,204,226,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,243,255,1)), color-stop(100%,rgba(186,204,226,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(214,243,255,1) 0%,rgba(186,204,226,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(214,243,255,1) 0%,rgba(186,204,226,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(214,243,255,1) 0%,rgba(186,204,226,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(214,243,255,1) 0%,rgba(186,204,226,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6f3ff', endColorstr='#bacce2',GradientType=0 ); /* IE6-9 */
	}
	ul.charTable > li.num
	{
		background: rgb(210,252,204); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(210,252,204,1) 0%, rgba(96,214,121,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(210,252,204,1)), color-stop(100%,rgba(96,214,121,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(210,252,204,1) 0%,rgba(96,214,121,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(210,252,204,1) 0%,rgba(96,214,121,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(210,252,204,1) 0%,rgba(96,214,121,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(210,252,204,1) 0%,rgba(96,214,121,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2fccc', endColorstr='#60d679',GradientType=0 ); /* IE6-9 */
	}
	ul.charTable > li.nat1
	{
		background: rgb(249,249,202); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(249,249,202,1) 0%, rgba(211,201,95,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,202,1)), color-stop(100%,rgba(211,201,95,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(249,249,202,1) 0%,rgba(211,201,95,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(249,249,202,1) 0%,rgba(211,201,95,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(249,249,202,1) 0%,rgba(211,201,95,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(249,249,202,1) 0%,rgba(211,201,95,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9ca', endColorstr='#d3c95f',GradientType=0 ); /* IE6-9 */
	}	
	ul.charTable > li.spec
	{
		background: rgb(248,232,249); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(248,232,249,1) 0%, rgba(226,151,229,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,232,249,1)), color-stop(100%,rgba(226,151,229,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(248,232,249,1) 0%,rgba(226,151,229,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(248,232,249,1) 0%,rgba(226,151,229,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(248,232,249,1) 0%,rgba(226,151,229,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(248,232,249,1) 0%,rgba(226,151,229,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8e8f9', endColorstr='#e297e5',GradientType=0 ); /* IE6-9 */
	}	
ul.charTable > li.sel
{
	color: #fff;
	text-shadow: none;
}
ul.charTable > li:hover   
{
 	box-shadow: 0 0 6px #B4B4B4 inset;
	-moz-box-shadow: inset 0 0 6px #B4B4B4;
}
ul.charTable > li.head:hover {
	box-shadow: 0 0 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,0.4);
}
ul.charTable > li.sys:hover   
{
 	box-shadow: 0 0 6px #EB5C5C inset;
	-moz-box-shadow: inset 0 0 6px #EB5C5C;
}
ul.charTable > li.spec:hover   
{
 	box-shadow: 0 0 6px #D567DA inset;
	-moz-box-shadow: inset 0 0 6px #D567DA;
}
ul.charTable > li.num:hover   
{
 	box-shadow: 0 0 6px #26DD38 inset;
	-moz-box-shadow: inset 0 0 6px #26DD38;
}
ul.charTable > li.eng:hover   
{
 	box-shadow: 0 0 6px #7AA8E0 inset;
	-moz-box-shadow: inset 0 0 6px #7AA8E0;
}
ul.charTable > li.nat1:hover   
{
 	box-shadow: 0 0 6px #DCB829 inset;
	-moz-box-shadow: inset 0 0 6px #DCB829;
}
ul.charTable > li.lineBreak{margin-left:0 !important; clear:both;}
	
#charDetails
{
	position: absolute;
	padding: 0 10px 10px 10px;
	text-align: center;
	-webkit-box-shadow: 2px 5px 10px rgba(54,50,56,0.7);
	-moz-box-shadow: 2px 5px 10px rgba(54,50,56,0.7);
	box-shadow: 2px 5px 10px rgba(54,50,56,0.7);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 220px;
	min-height:250px;
	z-index: 1000;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(219,219,219,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

#charDetails span{font-size:72px;font-weight:bold;}
#charDetails div:first-child{margin-top:12px;margin-bottom:12px;font-size:10px;}
#charDetails input{text-align:center;}
#charDetails img{cursor:pointer;}