﻿/*Aleksey Nemiro, FoxTools.ru, 2012*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
* html,body {height:100%;min-height:100%;}
html>body {height:auto;min-height: 100%;}
html { font-size: 62.5%; height:100%;min-height:100%;}
body { background: white; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1; color: #222222; position: relative; -webkit-font-smoothing: antialiased; height:100%;min-height:100%;}

a { color: #e07619; text-decoration: none; line-height: inherit; }
a:hover { color: #c96a16; }
a:focus { color: #e07619; outline: none; }
p a, p a:visited { line-height: inherit; }

a.sky { color: #2d83c2; text-decoration: none; line-height: inherit; }
a.sky:hover { color: #236698; }
a.sky:focus { color: #2d83c2; outline: none; }
p a.sky, p a.sky:visited { line-height: inherit; }

.hide {display:none;}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td { margin: 0; padding: 0; font-size: 14px; }
p { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin-bottom: 17px; }

aside p { font-size: 13px; line-height: 1.35; font-style: italic; }

h1, h2, h3, h4, h5, h6 { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-weight: bold; text-rendering: optimizeLegibility; line-height: 1.1; margin-bottom: 14px; margin-top: 14px; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; }
h1 { font-size: 44px; }
h2 { font-size: 37px; }
h3 { font-size: 23px; }
h4 { font-size: 17px; }
h5 { font-size: 14px; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 22px 0 21px; height: 0; }

em, i { font-style: italic; line-height: inherit; }
strong, b { font-weight: bold; line-height: inherit; }
small { font-size: 60%; line-height: inherit; }
code { font-weight: bold; background: #ffff99; }

img{border:none;}

ul, ol { font-size: 14px; line-height: 1.6; margin-bottom: 17px; list-style-position: inside; }

ul li ul, ul li ol { margin-left: 20px; margin-bottom: 0; }
ul.square, ul.circle, ul.disc { margin-left: 17px; }
ul.square { list-style-type: square; }
ul.square li ul { list-style: inherit; }
ul.circle { list-style-type: circle; }
ul.circle li ul { list-style: inherit; }
ul.disc { list-style-type: disc; }
ul.disc li ul { list-style: inherit; }
ul.no-bullet { list-style: none; }
ul.large li { line-height: 21px; }

ol li ul, ol li ol { margin-left: 20px; margin-bottom: 0; }


.container{width:976px;margin-left:auto;margin-right:auto;}

header {height:190px;width:100%;}
header .row1{background-color:#111111;height:90px;}
.logo{width:85px;text-align:center;float:left;margin-top:8px;}
.foxtools{width:300px;float:left;}
.user{width:300px;float:right;color:#999999;padding:8px 0 0 0;text-align:right;font-size:12px;}
.user a { color: #999999; text-decoration: none; line-height: inherit; border-bottom: 1px dotted #999999; }
.user a:hover { color: #c96a16; border-bottom: 1px dotted #c96a16; }
.user a:focus { color: #e07619; outline: none; border-bottom: 1px dotted #e07619; }
.user p{font-size:12px;margin:0;padding:0;line-height:1.4;}

.foxtools h1{color:#ffffff;margin:4px 0 4px 0;padding:0;font-weight:normal;font-family:Georgia, "Times New Roman", Times, serif;}
.foxtools h1 sup{color:#bbbbbb;font-size:11px;}
.foxtools span{color:#bbbbbb;font-size:12px;}

nav{height:80px;}
nav .row1{background-color:#bbbbbb;height:45px;/*padding:8px 0 8px 0;*/
background: rgb(142,142,142); /* Old browsers */
background: -moz-linear-gradient(top, rgba(142,142,142,1) 0%, rgba(187,187,187,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(142,142,142,1)), color-stop(100%,rgba(187,187,187,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(142,142,142,1) 0%,rgba(187,187,187,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(142,142,142,1) 0%,rgba(187,187,187,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(142,142,142,1) 0%,rgba(187,187,187,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(142,142,142,1) 0%,rgba(187,187,187,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e8e8e', endColorstr='#bbbbbb',GradientType=0 ); /* IE6-9 */}

nav .row1 menu{display:block;position:relative;overflow:hidden;margin:0;padding:0;}
nav .row1 li{display:inline-block;list-style:none;margin:0;padding:8px 0 8px 0;position:relative;overflow:hidden;text-align:center;vertical-align:middle;font-size:18px;}
nav .row1 li a,nav .row1 li a:link,nav .row1 li a:visited{padding:6px 8px 12px 8px;color:#333333;text-decoration:none;font-weight:normal;border:none;}
/*nav .row1 li a:hover,nav .row1 li a:active{text-decoration:none;color:#222222;background-color:#eeeeee;border-top:6px solid #ee9b11;font-weight:normal;}*/
nav .row1 li.selected a,nav .row1 li.selected a:link, nav .row1 li.selected a:visited{text-decoration:none;color:#222222;background-color:#eeeeee;border-top:6px solid #ee9b11;font-weight:normal;}
nav .row1 li.selected2 a,nav .row1 li.selected2 a:link, nav .row1 li.selected2 a:visited{text-decoration:none;color:#222222;background-color:#eeeeee;border-top:6px solid #de6161;font-weight:normal;}

/*#header .menu .content ul li.selected a,#header .menu .content ul li.selected a:link,#header .menu .content ul li.selected a:visited,#header .menu .content ul li.selected a:visited,#header .menu .content ul li.selected a:hover{text-decoration:none;color:#FFFFFF;background-color:#414141;moz-border-radius: 3px;-webkit-border-radius: 3px;-khtml-border-radius: 3px;border-radius: 3px;}*/

nav .row2{height:35px;background-color:#eeeeee;margin-top:-1px;}
nav .row2 menu{position:relative;overflow:hidden;margin:0;padding:0;}
nav .row2 li{display:inline-block;list-style:none;margin:0;padding:4px 0 4px 0;position:relative;overflow:hidden;text-align:center;vertical-align:middle;font-size:16px;}
nav .row2 li a,nav .row2 li a:link,nav .row2 li a:visited{padding:6px 8px 6px 8px;color:#333333;text-decoration:none;font-weight:normal;border:none;}
nav .row2 li a:hover,nav .row2 li a:active{text-decoration:underline;color:#222222;background-color:#eeeeee;border:none;font-weight:normal;}

nav .row2 li.selected {}
nav .row2 li.selected a,nav .row2 li.selected a:link,nav .row2 li.selected a:visited{padding:6px 8px 6px 8px;color:#555555;text-decoration:none;font-weight:normal;border:none;font-weight:bold;}
nav .row2 li.selected a:hover,nav .row2 li.selected a:active{text-decoration:underline;color:#555555;background-color:#eeeeee;border:none;font-weight:bold;}

footer{height:90px;width:100%;margin:50px 0 0 0;background-color:#111111;color:#bbbbbb;position:absolute;bottom: 0;}
footer .row1 .container{padding: 14px 0 8px 0;text-align:center;font-size:12px;}
footer .row1 .container .social{margin-top:4px;text-align:center;font-size:10px;color:#CCCCCC;}
footer .row1 .container .social a, footer .row1 .container .social a:link,footer .row1 .container .social a:visited{color:#666666;}
footer .row1 .container .social a:hover, footer .row1 .container .social a:active{color:#FFFFFF;}

.block{text-align:center;display:block;padding:8px;}
.block h2 { font-size: 23px; }
.block h3 { font-size: 14px;}
.block div { margin-top:8px;font-size:11px; color:#6f6f6f;}
.block img { border:1px solid #E1E1E1; }

blockquote, blockquote p { line-height: 1.5; color: #6f6f6f; }

blockquote { margin: 0 0 17px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
blockquote cite { display: block; font-size: 13px; color: #555555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited { color: #555555; }

abbr, acronym { text-transform: uppercase; font-size: 90%; color: #222222; border-bottom: 1px solid #ddd; cursor: help; }

abbr { text-transform: none; }

form { margin:0;padding:0; }

label { font-size: 14px; color: #4d4d4d; cursor: pointer; font-weight: 500; margin-bottom: 3px; }


input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea { border: 1px solid #cccccc; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); color: rgba(0, 0, 0, 0.75); display: block; font-size: 14px; margin: 0 0 12px 0; padding: 6px; height: 32px; -webkit-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -o-transition: all 0.15s linear; transition: all 0.15s linear; }
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus { background: #fafafa; outline: none !important; border-color: #b3b3b3; }
input[type="text"][disabled], input[type="password"][disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="email"][disabled], input[type="number"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="time"][disabled], input[type="url"][disabled], textarea[disabled] { background-color: #ddd; }

input.no-css[type="text"], input.no-css[type="password"], input.no-css[type="date"], input.no-css[type="datetime"], input.no-css[type="email"], input.no-css[type="number"], input.no-css[type="search"], input.no-css[type="tel"], input.no-css[type="time"], input.no-css[type="url"], textarea.no-css { border: none; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; -webkit-box-shadow:none; -moz-box-shadow:none;box-shadow:none; color: rgba(0, 0, 0, 0.75); display: inline; font-size: 14px; margin: 0; padding: 6px; height: 32px; }
input.no-css[type="text"]:focus, input.no-css[type="password"]:focus, input.no-css[type="date"]:focus, input.no-css[type="datetime"]:focus, input.no-css[type="email"]:focus, input.no-css[type="number"]:focus, input.no-css[type="search"]:focus, input.no-css[type="tel"]:focus, input.no-css[type="time"]:focus, input.no-css[type="url"]:focus, textarea.no-css:focus { background: #fafafa; outline: none !important; border-color: #b3b3b3; }
input.no-css[type="text"][disabled], input.no-css[type="password"][disabled], input.no-css[type="date"][disabled], input.no-css[type="datetime"][disabled], input.no-css[type="email"][disabled], input.no-css[type="number"][disabled], input.no-css[type="search"][disabled], input.no-css[type="tel"][disabled], input.no-css[type="time"][disabled], input.no-css[type="url"][disabled], textarea.no-css[disabled] { background-color: #ddd; }

input.inline, input.inline:focus, textarea.inline, textarea.inline:focus, input.inline[disabled] { display:inline; }
/*input[type=button], button{ font-size:14px;padding:8px; }*/
/*input[type="submit"], button[type="submit"] {  font-weight:bold;background-color:#e07619;color:#ffffff; border:1px solid #9b5211;padding:8px;}*/
/*input[type="submit"]:focus, button[type="submit"]:focus {  background-color:#b25e14;}*/
  
textarea { height: auto; }
select { }

fieldset { border: solid 1px #ddd; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; padding: 12px 12px 0; margin: 18px 0; }
fieldset legend { font-weight: bold; background: white; padding: 0 3px; margin: 0 0 0 -3px; }

.button { width: auto; background: #e07619; border: 1px solid #9b5211; -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; color: white; cursor: pointer; display: inline-block; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; line-height: 1; margin: 0; outline: none; padding: 10px 20px 11px; position: relative; text-align: center; text-decoration: none; -webkit-transition: background-color 0.15s ease-in-out; -moz-transition: background-color 0.15s ease-in-out; -o-transition: background-color 0.15s ease-in-out; transition: background-color 0.15s ease-in-out; /* Hovers */ /* Sizes */ /* Colors */ /* Radii */ /* Layout */ /* Disabled ---------- */ }
.button:hover { color: white; background-color: #b25e14; }
.button:active { -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; }
.button:focus { -webkit-box-shadow: 0 0 4px #e07619, 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 0 4px #e07619, 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 0 4px #e07619, 0 1px 0 rgba(255, 255, 255, 0.5) inset; color: white; }
.button.large { font-size: 17px; padding: 15px 30px 16px; }
.button.medium { font-size: 14px; }
.button.small { font-size: 11px; padding: 7px 14px 8px; }
.button.tiny { font-size: 10px; padding: 5px 10px 6px; }
.button.expand { width: 100%; text-align: center; }
.button.primary { background-color: #e07619; border: 1px solid #9b5211; }
.button.primary:hover { background-color: #b25e14; }
.button.primary:focus { -webkit-box-shadow: 0 0 4px #e07619, 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 0 4px #e07619, 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 0 4px #e07619, 0 1px 0 rgba(255, 255, 255, 0.5) inset; }
.button.success { background-color: #5da423; border: 1px solid #396516; }
.button.success:hover { background-color: #457a1a; }
.button.success:focus { -webkit-box-shadow: 0 0 5px #5da423, 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 0 5px #5da423, 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 0 5px #5da423, 0 1px 0 rgba(255, 255, 255, 0.5) inset; }
.button.alert { background-color: #c60f13; border: 1px solid #7f0a0c; }
.button.alert:hover { background-color: #970b0e; }
.button.alert:focus { -webkit-box-shadow: 0 0 4px #c60f13, 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 0 4px #c60f13, 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 0 4px #c60f13, 0 1px 0 rgba(255, 255, 255, 0.5) inset; }
.button.secondary { background-color: #e9e9e9; color: #1d1d1d; border: 1px solid #c3c3c3; }
.button.secondary:hover { background-color: #d0d0d0; }
.button.secondary:focus { -webkit-box-shadow: 0 0 5px #e9e9e9, 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 0 5px #e9e9e9, 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 0 5px #e9e9e9, 0 1px 0 rgba(255, 255, 255, 0.5) inset; }
.button.radius { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.button.round { -webkit-border-radius: 1000px; -moz-border-radius: 1000px; -ms-border-radius: 1000px; -o-border-radius: 1000px; border-radius: 1000px; }
.button.full-width { width: 100%; text-align: center; padding-left: 0px !important; padding-right: 0px !important; }
.button.left-align { text-align: left; text-indent: 12px; }
.button.disabled, .button[disabled] { opacity: 0.6; cursor: default; background: #e07619; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.button.disabled :hover, .button[disabled] :hover { background: #e07619; }
.button.disabled.success, .button[disabled].success { background-color: #5da423; }
.button.disabled.success:hover, .button[disabled].success:hover { background-color: #5da423; }
.button.disabled.alert, .button[disabled].alert { background-color: #c60f13; }
.button.disabled.alert:hover, .button[disabled].alert:hover { background-color: #c60f13; }
.button.disabled.secondary, .button[disabled].secondary { background-color: #e9e9e9; }
.button.disabled.secondary:hover, .button[disabled].secondary:hover { background-color: #e9e9e9; }

table { background: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin: 0 0 18px; border: 1px solid #ddd; }
table thead, table tfoot { background: #E6E6E6; }
table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td { font-size: 14px; line-height: 18px; text-align: left; }
table thead tr th, table tfoot tr td { padding: 8px 10px 9px; font-size: 16px; font-weight: bold; color: #222; }
table thead tr th:first-child, table tfoot tr td:first-child { border-left: none; }
table thead tr th:last-child, table tfoot tr td:last-child { border-right: none; }
table tbody tr.even td, table tbody tr.alt td { background-color: #F0F0F0; }
table tbody tr:nth-child(even) { background: #f9f9f9; }
table tbody tr td { color: #333; padding: 9px 10px; vertical-align: top; border: none; }

.unstyle table { background:inherit; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; margin: 0; border: none; }
.unstyle table thead, .unstyle table tfoot { background: inherit; }
.unstyle table thead .unstyle tr th, .unstyle table tfoot tr th, .unstyle table tbody tr td, .unstyle table tr td, .unstyle table tfoot tr td { font-size: inherit; line-height:normal; text-align: left; }
.unstyle table thead .unstyle tr th, .unstyle table tfoot tr td { padding: 0; font-size:inherit; font-weight:normal; color:inherit; }
.unstyle table thead .unstyle tr th:first-child, .unstyle table tfoot tr td:first-child { border-left: none; }
.unstyle table thead .unstyle tr th:last-child, .unstyle table tfoot tr td:last-child { border-right: none; }
.unstyle table tbody .unstyle tr.even td, .unstyle table tbody tr.alt td { background-color:inherit; }
.unstyle table tbody .unstyle tr:nth-child(even) { background: inherit; }
.unstyle table tbody .unstyle tr td { color:inherit; padding:0; vertical-align: top; border: none; }

dl.tabs { border-bottom: solid 1px #e6e6e6; display: block; height: 40px; padding: 0; margin-bottom: 20px; }
dl.tabs.contained { margin-bottom: 0; }
dl.tabs dt { color: #b3b3b3; cursor: default; display: block; float: left; font-size: 12px; height: 40px; line-height: 40px; padding: 0 9px 0 20px; width: auto; text-transform: uppercase; }
dl.tabs dt:first-child { padding: 0 9px 0 0; }
dl.tabs dd { display: block; float: left; padding: 0; margin: 0; }
dl.tabs dd a { color: #6f6f6f; display: block; font-size: 14px; height: 40px; line-height: 40px; padding: 0px 23.8px; }
dl.tabs dd a:focus { font-weight: bold; color: #e07619; }
dl.tabs dd.active { border-top: 3px solid #e07619; margin-top: -3px; }
dl.tabs dd.active a { cursor: default; color: #3c3c3c; background: #fff; border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; font-weight: bold; }
dl.tabs dd:first-child { margin-left: 0; }
dl.tabs.vertical { height: auto; border-bottom: 1px solid #e6e6e6; }
dl.tabs.vertical dt, dl.tabs.vertical dd { float: none; height: auto; }
dl.tabs.vertical dd { border-left: 3px solid #cccccc; }
dl.tabs.vertical dd a { background: #f2f2f2; border: none; border: 1px solid #e6e6e6; border-width: 1px 1px 0 0; color: #555; display: block; font-size: 14px; height: auto; line-height: 1; padding: 15px 20px; -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; }
dl.tabs.vertical dd.active { margin-top: 0; border-top: 1px solid #4d4d4d; border-left: 4px solid #1a1a1a; }
dl.tabs.vertical dd.active a { background: #4d4d4d; border: none; color: #fff; height: auto; margin: 0; position: static; top: 0; -webkit-box-shadow: 0 0 0; -moz-box-shadow: 0 0 0; box-shadow: 0 0 0; }
dl.tabs.vertical dd:first-child a.active { margin: 0; }
dl.tabs.pill { border-bottom: none; margin-bottom: 10px; }
dl.tabs.pill dd { margin-right: 10px; }
dl.tabs.pill dd:last-child { margin-right: 0; }
dl.tabs.pill dd a { -webkit-border-radius: 1000px; -moz-border-radius: 1000px; -ms-border-radius: 1000px; -o-border-radius: 1000px; border-radius: 1000px; background: #e6e6e6; height: 26px; line-height: 26px; color: #666; }
dl.tabs.pill dd.active { border: none; margin-top: 0; }
dl.tabs.pill dd.active a { background-color: #e07619; border: none; color: #fff; }
dl.tabs.pill.contained { border-bottom: solid 1px #eee; margin-bottom: 0; }
dl.tabs.two-up dt a, dl.tabs.two-up dd a, dl.tabs.three-up dt a, dl.tabs.three-up dd a, dl.tabs.four-up dt a, dl.tabs.four-up dd a, dl.tabs.five-up dt a, dl.tabs.five-up dd a { padding: 0 17px; text-align: center; overflow: hidden; }
dl.tabs.two-up dt, dl.tabs.two-up dd { width: 50%; }
dl.tabs.three-up dt, dl.tabs.three-up dd { width: 33.33%; }
dl.tabs.four-up dt, dl.tabs.four-up dd { width: 25%; }
dl.tabs.five-up dt, dl.tabs.five-up dd { width: 20%; }

ul.tabs-content { display: block; margin: 0 0 20px; padding: 0; }
ul.tabs-content > li { display: none; }
ul.tabs-content > li.active { display: block; }
ul.tabs-content.contained { padding: 0; }
ul.tabs-content.contained > li { border: solid 0 #e6e6e6; border-width: 0 1px 1px 1px; padding: 20px; }
ul.tabs-content.contained.vertical > li { border-width: 1px 1px 1px 1px; }

.no-js ul.tabs-content > li { display: block; }


.reveal-modal-bg { position: fixed; height: 100%; width: 100%; background: #000; background: rgba(0, 0, 0, 0.45); z-index: 40; display: none; top: 0; left: 0; }
.reveal-modal { background: white; visibility: hidden; display: none; top: 100px; left: 50%; margin-left: -260px; width: 520px; position: absolute; z-index: 41; padding: 30px; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }
.reveal-modal *:first-child { margin-top: 0; }
.reveal-modal *:last-child { margin-bottom: 0; }
.reveal-modal .close-reveal-modal { font-size: 22px; font-size: 2.2rem; line-height: .5; position: absolute; top: 8px; right: 11px; color: #aaa; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6); font-weight: bold; cursor: pointer; }
.reveal-modal.small { width: 30%; margin-left: -15%; }
.reveal-modal.medium { width: 40%; margin-left: -20%; }
.reveal-modal.large { width: 60%; margin-left: -30%; }
.reveal-modal.xlarge { width: 70%; margin-left: -35%; }
.reveal-modal.expand { width: 90%; margin-left: -45%; }
.reveal-modal .row { min-width: 0; margin-bottom: 10px; }


ul.accordion { margin: 0 0 22px 0; border-bottom: 1px solid #e9e9e9; }
ul.accordion > li { list-style: none; margin: 0; padding: 0; border-top: 1px solid #e9e9e9; }
ul.accordion > li .title { cursor: pointer; background: #f6f6f6; padding: 15px; margin: 0; position: relative; border-left: 1px solid #e9e9e9; border-right: 1px solid #e9e9e9; -webkit-transition: 0.15s background linear; -moz-transition: 0.15s background linear; -o-transition: 0.15s background linear; transition: 0.15s background linear; }
ul.accordion > li .title h1, ul.accordion > li .title h2, ul.accordion > li .title h3, ul.accordion > li .title h4, ul.accordion > li .title h5 { margin: 0; }
ul.accordion > li .title:after { content: ""; display: block; width: 0; height: 0; border: solid 6px; border-color: transparent #9d9d9d transparent transparent; position: absolute; right: 15px; top: 21px; }
ul.accordion > li .content { display: none; padding: 15px; }
ul.accordion > li.active { border-top: 3px solid #e07619; }
ul.accordion > li.active .title { background: white; padding-top: 13px; }
ul.accordion > li.active .title:after { content: ""; display: block; width: 0; height: 0; border: solid 6px; border-color: #9d9d9d transparent transparent transparent; }
ul.accordion > li.active .content { background: white; display: block; border-left: 1px solid #e9e9e9; border-right: 1px solid #e9e9e9; }


.custom { }
.custom span.custom { display: inline-block; width: 16px; height: 16px; position: relative; top: 2px; border: solid 1px #ccc; background: #fff; }
.custom span.custom.radio { -webkit-border-radius: 100px; -moz-border-radius: 100px; -ms-border-radius: 100px; -o-border-radius: 100px; border-radius: 100px; }
.custom span.custom.checkbox:before { content: ""; display: block; line-height: 0.8; height: 14px; width: 14px; text-align: center; position: absolute; top: 0; left: 0; font-size: 14px; color: #fff; }
.custom span.custom.radio.checked:before { content: ""; display: block; width: 8px; height: 8px; -webkit-border-radius: 100px; -moz-border-radius: 100px; -ms-border-radius: 100px; -o-border-radius: 100px; border-radius: 100px; background: #222; position: relative; top: 3px; left: 3px; }
.custom span.custom.checkbox.checked:before { content: "\00d7"; color: #222; }
.custom div.custom.dropdown { display: block; position: relative; width: auto; height: 28px; margin-bottom: 9px; margin-top: 2px; }
.custom div.custom.dropdown a.current { display: block; width: auto; line-height: 26px; min-height: 28px; padding: 0 38px 0 6px; border: solid 1px #ddd; color: #141414; background-color: #fff; white-space: nowrap; }
.custom div.custom.dropdown a.selector { position: absolute; width: 27px; height: 28px; display: block; right: 0; top: 0; border: solid 1px #ddd; }
.custom div.custom.dropdown a.selector:after { content: ""; display: block; content: ""; display: block; width: 0; height: 0; border: solid 5px; border-color: #aaaaaa transparent transparent transparent; position: absolute; left: 50%; top: 50%; margin-top: -2px; margin-left: -5px; }
.custom div.custom.dropdown:hover a.selector:after, form.custom div.custom.dropdown.open a.selector:after { content: ""; display: block; width: 0; height: 0; border: solid 5px; border-color: #222222 transparent transparent transparent; }
.custom div.custom.dropdown.open ul { display: block; z-index: 10; }
.custom div.custom.dropdown.small { width: 134px !important; }
.custom div.custom.dropdown.medium { width: 254px !important; }
.custom div.custom.dropdown.large { width: 434px !important; }
.custom div.custom.dropdown.expand { width: 100% !important; }
.custom div.custom.dropdown.open.small ul { width: 134px !important; }
.custom div.custom.dropdown.open.medium ul { width: 254px !important; }
.custom div.custom.dropdown.open.large ul { width: 434px !important; }
.custom div.custom.dropdown.open.expand ul { width: 100% !important; }
.custom div.custom.dropdown ul { position: absolute; width: auto; display: none; margin: 0; left: 0; top: 27px; margin: 0; padding: 0; background: #fff; background: rgba(255, 255, 255, 0.95); border: solid 1px #cccccc; }
.custom div.custom.dropdown ul li { color: #555; font-size: 13px; cursor: pointer; padding: 3px 38px 3px 6px; min-height: 18px; line-height: 18px; margin: 0; white-space: nowrap; list-style: none; }
.custom div.custom.dropdown ul li.selected { background: #f9e1cc; color: #000; }
.custom div.custom.dropdown ul li.selected:after { content: "\2013"; position: absolute; right: 10px; }
.custom div.custom.dropdown ul li:hover { background-color: #fceee3; color: #222; }
.custom div.custom.dropdown ul li:hover:after { content: "\2013"; position: absolute; right: 10px; color: #f2b987; }
.custom div.custom.dropdown ul li.selected:hover { background: #f9e1cc; cursor: default; color: #000; }
.custom div.custom.dropdown ul li.selected:hover:after { color: #000; }
.custom div.custom.dropdown ul.show { display: block; }
.custom .custom.disabled { background-color: #ddd; }


.clear{clear:both;}
.error, .r,.red{color:#ff0000;}
.green{color:#008000;}
.gray{color:#888888;}
.nodata{margin-top:24px;margin-bottom:24px;clear:both;}
.l{font-weight:bold;color:#555555;}

.field-validation-error{color: #ff0000;}
.field-validation-valid{display: none;}
.input-validation-error{border: 1px solid #ff0000;background-color: #ffeeee;}
.validation-summary-errors {font-weight: bold;color: #ff0000;}
.validation-summary-valid{display: none;}

.pager{font-size:14px;margin-top:22px;margin-bottom:22px;}
.pager .selectedPage{font-size:16px;font-weight:bold;padding:2px;border:solid 1px #CCCCCC;background-color:#E5E5E5;color:#999999;}
.pager .pagerTitle{font-weight:bold;}
.pager a,.pager a:link,.pager a:visited{color:#e07619;text-decoration:none;}
.pager a:hover,.pager a:active{text-decoration:none;color:#c96a16;}
.pager .disablePage{color:#CCCCCC;}

.triger{background:#d0d0d0;border-radius:3px; border:1px solid #c1c1c1; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;}
.triger a{cursor:pointer;color:#666666;display:inline-block;height:30px;line-height:30px;font-weight:bold;vertical-align:central;padding:0 10px;}
.triger a.active{cursor:default;background:#FFF;color:#333333;border-radius:3px;box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);background: rgb(248,248,248);background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(237,237,237,1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,248,248,1)), color-stop(100%,rgba(237,237,237,1)));background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(237,237,237,1) 100%);background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(237,237,237,1) 100%);background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(237,237,237,1) 100%);background: linear-gradient(to bottom,  rgba(248,248,248,1) 0%,rgba(237,237,237,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ededed',GradientType=0 );}

div.row { margin-bottom: 10px; clear:both; }
div.row .space {min-width:12px;width:12px;display:inline-block;}
div.row .col{display:inline-block;padding-right:12px;}

#foxResult{display:none;margin-top:18px;margin-bottom:18px;border-radius:8px;padding:6px;clear:both;}
#foxContainer{position:relative;}
#foxProgress{position:absolute;z-index:100;background-color:#FFFFFF;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=55);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;display:none; background-image:url('/Content/Images/foxprogress128px.gif');background-position:center;text-align:center;}
#foxProgress div{padding:4px;margin-left:auto;margin-right:auto;background-color:#ffffff;text-align:center;font-weight:bold;font-size:16px;color:#000000;width:300px;height:50px;border:3px solid #000000;}

/*.tooltip {cursor: help;}
.tooltip::after {background: rgba(0, 0, 0, 0.8);border-radius: 8px 8px 8px 0px;box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);color: #FFF;content: attr(data-tooltip);margin-top: -24px;opacity: 0;padding: 3px 7px;position: absolute;visibility: hidden;transition: all 0.4s ease-in-out;}
.tooltip:hover::after {opacity: 1;visibility: visible;}*/